<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/css.css">
  </head>
  <body>
    <hr>
    <hr>
    <div class="footer row" style="background-color: rgb(255, 255, 255);">
      <div class="col-3" style="text-align: center">
        <img
          style="width: 70px; height: 70px; margin-bottom: 10px"
          src="imgs/iconHaiLong.avif"
          alt=""
        />
        <h4>KHÁCH HÀNG HÀI LÒNG</h4>
        <p>
          Đặt sự hài lòng của khách hàng là ưu tiên số 1 trong mọi suy nghĩ hành
          động
        </p>
      </div>
      <div class="col-3" style="text-align: center">
        <img
          style="width: 70px; height: 70px; margin-bottom: 10px"
          src="imgs/iconHuyChuong.png"
          alt=""
        />
        <h4>CHẤT LƯỢNG CAO CẤP</h4>
        <p>
          Mọi sản phẩm đều được thiết kế và chế tác bởi các nghệ nhân hàng đầu
        </p>
      </div>
      <div class="col-3" style="text-align: center">
        <img
          style="width: 70px; height: 70px; margin-bottom: 10px"
          src="imgs/iconDoiTra.png"
          alt=""
        />
        <h4>ĐỔI TRẢ DỄ DÀNG</h4>
        <p>
          Dùng thử và đổi trả trong vòng 10 ngày. Hoàn tiền nếu không hài lòng
        </p>
      </div>
      <div class="col-3" style="text-align: center">
        <img
          style="width: 70px; height: 70px; margin-bottom: 10px"
          src="imgs/iconHoTro.png"
          alt=""
        />
        <h4>HỖ TRỢ NHIỆT TÌNH</h4>
        <p>
          Tất cả câu hỏi đều được các chuyên viên của LiLi tư vấn, giải đáp kỹ
          càng
        </p>
      </div>
    
    <hr style="margin-bottom: 50px;"/>
    
      <div class="col-3">
        <h4>DỊCH VỤ KHÁCH HÀNG</h4>
        <hr style="width: 80px; color: black;"/>

        <a href="#gioiThieu" class="footer-duoi"> <h5>Điều khoản và điều kiện</h5></a>
        <a href="#gioiThieu" class="footer-duoi"> <h5>Chính sách trả hàng và hoàn tiền</h5> </a>
        <a href="#gioiThieu" class="footer-duoi"> <h5>Chính sách giao hàng</h5></a>
        <a href="#gioiThieu" class="footer-duoi"> <h5>Chính sách quyền riêng tư</h5> </a>
        <a href="#gioiThieu" class="footer-duoi"> <h5>Hướng dẫn mua hàng online</h5></a>
      </div>
      <div class="col-3">
        <h4>CẨM NANG SỬ DỤNG</h4>
        <hr style="width: 80px; color: black;" />
        <a href="#gioiThieu" class="footer-duoi"> <h5>Kiến thức đá quý</h5></a>
        <a href="#gioiThieu" class="footer-duoi"> <h5>Cách bảo quản vàng bạc</h5></a>
        <a href="#gioiThieu" class="footer-duoi"> <h5>Chọn trang sức theo mệnh</h5></a>
      </div>
      <div class="col-3" >
        <h4>THÔNG TIN CHUNG</h4>
        <hr style="width: 80px; color: black;" />
        <a href="#gioiThieu" class="footer-duoi"><h5>Tin trang sức</h5></a>
        <a href="#gioiThieu" class="footer-duoi"><h5>Quyền lợi thành viên</h5></a>
        <a href="#gioiThieu" class="footer-duoi"><h5>Tiếp thị liên kết LiLi</h5></a>
        <a href="#gioiThieu" class="footer-duoi"><h5>Ưu đãi khi đánh giá</h5></a>
        <a href="#gioiThieu" class="footer-duoi"><h5>Nhận quà tri ân</h5></a>
        <a href="#gioiThieu" class="footer-duoi"><h5>Liên hệ</h5></a>
      </div>
      <div class="col-3">
        <h4>Ý KIẾN ĐÓNG GÓP</h4>
        <hr style="width: 80px; color: black;" />
        <p><h5> LiLi luôn mong nhận được ý kiến đóng góp từ bạn để nâng cấp dịch vụ và sản phẩm tốt hơn.</h5></p>
        <p><h5> Nếu bạn có ý kiến, đừng ngần ngại đóng góp cho LiLi nhé. LiLi xin cảm ơn!</h5></p>
      </div>
    </div>

  </body>
</html>
